.container{
    padding: 10px;
}

.card{
    margin: 10px;
    color: blueviolet;
    background-color: rgb(213, 213, 230);
    height: -webkit-fill-available;
    cursor: pointer;
    padding: 10px;

    h4{
        text-align: center;
    }
}